body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 132, 255);
}

.info {
    background-color: rgb(0, 2, 255);
    width: 290px;
    height: 100px;
    border-radius: 80px;
    box-shadow: black 0px 0px 10px 2px;
    margin-top: 15px;
    margin-left: 5px;
}

.icon {
    background-color: white;
    box-shadow: black 0px 0px 10px 2px;
    border-radius: 100%;
    float: left;
    margin-left: 5px;
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

.info1 {
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}

.cikis {
    float: right;
    margin-top: -65px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: white;
    font-weight: bold;
    box-shadow: black 0px 0px 10px 2px;
    margin-right: 35px;
    cursor: pointer;
}

.cikis:hover {
    color: white;
    background-color: black;
    box-shadow: white 0px 0px 10px 5px;
    border: none;
    transition: 500ms;
}

.baslik {
    position: absolute;
    margin-left: 565px;
    font-family: calibri;
    font-size: 50px;
    margin-top: 25px;  
}

.cizgi {
    position: absolute;
    width: 100%;
    height: 130px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: black 0px 5px 10px 5px;
}

.orta {
    position: fixed;
    width: 90%;
    height: 450px;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 50px;
    margin-left: 75px;
    margin-top: 170px;
    box-shadow: black 0px 0px 10px 5px;
}
